.header {
  height: 5rem;
  background-color: #001519;
}

.headerContentWrapper {
  display: flex;
  align-items: center;
  width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
  user-select: none;
}

.headerWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.headerLabel {
  margin-left: 1rem;
  color: #ffffff;
  font-size: 1.25rem;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;

  height: 5rem;
}

.link {
  display: flex;
  align-items: center;

  height: 100%;
  padding: 0 1rem;

  color: #aaaaaa;

  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  cursor: pointer;
  user-select: none;
}

.link:hover {
  color: #ffffff;
  background-color: #0b64c9;
}

.footer {
  height: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 0.875rem;
  color: #aaaaaa;
  background-color: #001519;
}


@media screen and (max-width: 1300px) {
  .headerContentWrapper {
    width: 63rem;
  }
}

@media screen and (max-width: 1024px) {
  .headerContentWrapper {
    width: 100%;
  }
}