.container {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
}

.imageCardWrapper {
  width: 33.33%;
  height: 25rem;

  margin-bottom: 2rem;
  padding: 0 1rem;

  transition: width 0.1s ease, height 0.1s ease;
}

.bottomText {
  color: #aaa;
  margin: 0;
  padding: 2rem;
}