.container {
  min-height: calc(100vh - 10rem);
  width: 50rem;
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #2289ff;
}

.sectionTitle {
  margin-top: 1.5rem;
  font-weight: bold;
}

.list {
  margin: 0.5rem 0;
}

.link {
  color: #2289ff;
  text-decoration: underline;
  word-break: break-all;
}

.codeLine {
  margin: 0.25rem 0;
  padding: 0.75rem;
  overflow-x: auto;

  font-family: var(--font-mono);
  font-size: 0.875rem;
  white-space: nowrap;

  background-color: aliceblue;
  border-radius: 0.25rem;
}

@media screen and (max-width: 840px) {
  .container {
    width: 100%;
    padding: 2rem 1rem;
  }
}