.container {
  width: 80rem;
  min-height: 100vh;
  
  padding-top: 2rem;
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controlPanel {
  width: 100%;

  padding-right: 1rem;
  margin-bottom: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.locationSelectContainer {
  margin-left: 1rem;

  display: flex;
  align-items: center;
}

.locationSelectLabel {
  margin-right: 1rem;

  font-size: 1.25rem;
  font-weight: bold;
}

.searchContainer {
  margin-left: 1rem;

  display: flex;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 63rem;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .searchContainer {
    display: none;
  }
}